<div class="container">
	<h1>Preview Your Draft</h1>

	<h4><%= @ad.title %></h4>

	<table class="table">
 		<tr>
 			<td>Description:</td><td><%= @ad.description %></td>
 		</tr>
 		<tr>
 			<td>Zip-Code</td><td><%= @ad.zip_code %></td>
 		</tr>
 		<tr>
 			<td>City</td><td><%= @ad.city %></td>
 		</tr>
 		<tr>
 			<td>State</td><td><%= @ad.state %></td>
 		</tr>
 		<tr>
 			<td>Price</td><td><%= @ad.price %></td>
 		</tr>
 		<tr>
 			<td>Private Treaty</td><td><%= @ad.private_treaty %></td>
 		</tr>
 		<tr>
 			<td>Name</td><td><%= @ad.name %></td>
 		</tr>
 		<tr>
 			<td>Breed</td><td><%= @ad.breed %></td>
 		</tr>
 		<tr>
 			<td>Birth</td><td><%= @ad.birth %></td>
 		</tr>
 		<tr>
 			<td>Height</td><td><%= @ad.height %></td>
 		</tr>
 		<tr>
 			<td>Weight</td><td><%= @ad.weight %></td>
 		</tr>
	</table>
</div>