<div class="container">
  <br />
  <h4>Select Ad Type</h4>
  <ul class="nav nav-tabs" id="ads-tab">
    <li class="active"><a href="#horses">Horses</a></li>
    <li><a href="#studs">Studs</a></li>
    <li><a href="#trailers">Trailers</a></li>
    <li><a href="#tacks">Tacks</a></li>
    <li><a href="#real-estates">Real Estates</a></li>
    <li><a href="#services">Services</a></li>
  </ul>
   
  <h4>Select Ad Package</h4>
  <div class="tab-content">
    <div class="row tab-pane active" id="horses">
     
      <% @horsePackages.each do |package| %>
      <dl class="span3 pricing-wrapper">
        <dt><%= link_to "Package #{package.name}", place_horse_path(package) %></dt>
          <dd>Price: <%= package.price %></dd>
          <dd>Duration: <%= package.duration %></dd>
          <dd>Max Photo Upload: <%= package.max_photo_upload %></dd>
          <dd>Max Video Upload: <%= package.max_video_upload %></dd>
      </dl>
      <% end %>
      
    </div>
    <div class="row tab-pane" id="studs">
      <% @studPackages.each do |package| %>
      <dl class="span3 pricing-wrapper">
        <dt><%= link_to "Package #{package.name}", place_stud_path(package) %></dt>
          <dd>Price: <%= package.price %></dd>
          <dd>Duration: <%= package.duration %></dd>
          <dd>Max Photo Upload: <%= package.max_photo_upload %></dd>
          <dd>Max Video Upload: <%= package.max_video_upload %></dd>
      </dl>
      <% end %>
      
    </div>
    <div class="row tab-pane" id="trailers">
      <% @trailerPackages.each do |package| %>
      <dl class="span3 pricing-wrapper">
        <dt><%= link_to "Package #{package.name}", place_trailer_path(package) %></dt>
          <dd>Price: <%= package.price %></dd>
          <dd>Duration: <%= package.duration %></dd>
          <dd>Max Photo Upload: <%= package.max_photo_upload %></dd>
          <dd>Max Video Upload: <%= package.max_video_upload %></dd>
      </dl>
      <% end %>
    </div>
    <div class="row tab-pane" id="tacks">
      <% @tackPackages.each do |package| %>
      <dl class="span3 pricing-wrapper">
        <dt><%= link_to "Package #{package.name}", place_tack_path(package) %></dt>
          <dd>Price: <%= package.price %></dd>
          <dd>Duration: <%= package.duration %></dd>
          <dd>Max Photo Upload: <%= package.max_photo_upload %></dd>
          <dd>Max Video Upload: <%= package.max_video_upload %></dd>
      </dl>
      <% end %>
    </div>
    <div class="row tab-pane" id="real-estates"> 
      <% @realEstatePackages.each do |package| %>
      <dl class="span3 pricing-wrapper">
        <dt><%= link_to "Package #{package.name}", place_real_estate_path(package) %></dt>
          <dd>Price: <%= package.price %></dd>
          <dd>Duration: <%= package.duration %></dd>
          <dd>Max Photo Upload: <%= package.max_photo_upload %></dd>
          <dd>Max Video Upload: <%= package.max_video_upload %></dd>
         </dl>
      <% end %>
    </div>
    <div class="row tab-pane" id="services">
      <% @servicePackages.each do |package| %>
      <dl class="span3 pricing-wrapper">
        <dt><%= link_to "Package #{package.name}", place_service_path(package) %></dt>
          <dd>Price: <%= package.price %></dd>
          <dd>Duration: <%= package.duration %></dd>
          <dd>Max Photo Upload: <%= package.max_photo_upload %></dd>
          <dd>Max Video Upload: <%= package.max_video_upload %></dd>
      </dl>
      <% end %>
    </div>
  </div>


  <br />

</div>


<!-- TODO 
  Move to js assets file
-->
<script>
  $('#ads-tab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>