<div class="container">
	<%= render "place/shared/place_ad_header" %>

	<%= simple_form_for @ad_horse do |f| %>
	  <%= f.input :title %>
	  <%= f.input :description %>
	  <%= f.input :zip_code %>
	  <%= f.input :zip_code %>
	  <%= f.input :price %>
	  <%= f.input :ad_for %>
	  <%= f.input :name %>
	  <%= f.input :gender %>
	  <%= f.input :breed %>
	  <%= f.input :birth %>
	  <%= f.input :color %>
	  <%= f.input :height %>
	  <%= f.input :weight %>
	  <%= f.input :private_treaty %>
	  <%= f.button :submit, 'Save & Preview' %>
	<% end %>


</div>

